<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="icon" type="image/png" href="img/logos/shop_logo.png">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body style="background-color: var(--dark-color);">
    <div class="sign-in-container">
      <h1 class="sign-in-title">Create a new Admin!</h1>
      <form action="/auth/sign-up" method="POST">
        <label class="sign-in-label" for="username">Username:</label>
        <input class="sign-in-input" type="text" name="username" id="username" />

        <label class="sign-in-label" for="password">Password:</label>
        <input class="sign-in-input" type="password" name="password" id="password" />

        <label class="sign-in-label" for="confirmPassword">Confirm Password:</label>
        <input class="sign-in-input" type="password" name="confirmPassword" id="confirmPassword" />

        <button class="sign-in-button" type="submit">Sign up</button>
      </form>
    </div>
  </body>
</html>