<nav>
    <ul>
        <% categories.forEach(category => { %>
            <li>
                <a href="/items/categories/<%= category._id %>">
                    <div>
                        <%= category.CategoryName %>
                    </div>
                </a>
            </li>
        <% }); %>
    </ul>
</nav>