<div id="categories-container" style="display: none;">
    <ul class="nav-menu">
        <% categories.forEach(category => { %>
            <li class="nav-item">
                <a href="/items/<%= category._id %>" class="nav-link"><%= category.CategoryName %></a>
            </li>
        <% }); %>
    </ul>
</div>