<footer class="footer-section">
    <div class="section-content">
        <!-- Bahrain Line Logo -->
        <p class="copyright-text"> Bahrain Line 2025</p>

        <div class="social-link-list">
            <!-- Instagram Link -->
            <a href="https://www.instagram.com/bahrain_line_" target="_blank" class="social-link">
                <img src="../../img/logos/insta_logo.png" alt="Instagram Logo" style="width: 30px; height: 30px;">
            </a>

            <!-- Location Link -->
            <a href="https://maps.app.goo.gl/PN7oYpw7nkUEvJJu9" target="_blank" class="social-link">
                <img src="../../img/logos/maps_logo.svg" alt="Location Logo" style="width: 30px; height: 30px;">
            </a>
        </div>
    </div>
</footer>