<footer>
        <!-- Instagram Link -->
        <a href="https://www.instagram.com/bahrain_line_" target="_blank" style="margin: 0 15px;">
            <img src="img/logos/insta_logo.jpg" alt="Instagram Logo" style="width: 30px; height: 30px;">
        </a>

        <!-- Location Link -->
        <a href="https://maps.app.goo.gl/PN7oYpw7nkUEvJJu9" target="_blank" style="margin: 0 15px;">
            <img src="img/logos/maps_logo.png" alt="Location Logo" style="width: 30px; height: 30px;">
        </a>
        
    <!-- Bahrain Line Logo -->
    <p> Bahrain Line 2025</p>
</footer>