<a href="/" class="nav-logo"><img src="../../img/logos/shop_logo.png" 
    alt="Shop Logo" class="logo-text"></a></li>
    
<ul class="nav-menu">
    <% if(user){ %>
        <li class="nav-item"><a href="/auth/sign-out" class="nav-link">Sign out</a></li>  
        <li class="nav-item"><a href="/items/new_item" class="nav-link">Add new Item</a></li>  
        <li class="nav-item"><a href="/items/new_category" class="nav-link">Add new Category</a></li>    
    <% } else { %>
        <li class="nav-item"><a href="/auth/sign-in" class="nav-link">Sign in</a></li>
        <li class="nav-item"><a href="/auth/sign-up" class="nav-link">Sign up</a></li>
    <% } %>
     
    <li class="nav-item">
    <a id="toggle-categories" class="nav-link">Show Categories</a>
    </li>
</ul>