<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/items/about.ejs">About</a></li>
        <li><a href="/auth/sign-in">Sign in</a></li>
        <li><a href="/auth/sign-up">Sign up</a></li>
        <li><a href="/auth/sign-out">Sign out</a></li>
    </ul>
</nav>