<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Item</title>
  </head>
  <body>
    <%- include("../partials/_navbar.ejs"); %>

    <h1>Add a new Item!</h1>

    <form action="/items" method="POST">
      
      <label for="ItemName">Item name:</label>
      <input type="text" name="ItemName" id="ItemName" required/>

      <label for="ItemPrice">Item price:</label>
      <input type="number" name="ItemPrice" id="ItemPrice" step="0.01" required/>

      <label for="ItemDescription">Item description:</label>
      <textarea name="ItemDescription" id="ItemDescription" rows="4" required></textarea>

      <label for="ItemCategory">Item category:</label>
        <select id="ItemCategory" name="ItemCategory" required>
            <option value="">Select a category</option>

            <% categories.forEach(category => { %>
                <option value="<%= category._id %>"><%= category.CategoryName %></option>
            <% }); %>

        </select>

        <label for="ItemImg">Item img:</label>
        <input type="file" name="ItemImg" id="ItemImg" accept="image/*" required />

      <button type="submit">Add Item</button>    
    </form>

    <%- include('../partials/_footer.ejs') %>
  </body>
</html>